* {
  box-sizing: border-box;
}

body {
  background-color: aquamarine;
}

table {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

tbody {
  background-color: #f2f2f2;
}

.book-list {
  border: 1px solid black;
}

.hidden {
  display: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border: 1px solid black;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}


.book-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}